{% if PLAUSIBLE %}
<!-- Plausible -->
<script defer data-domain="duarteocarmo.com" src="https://plausible.io/js/script.file-downloads.outbound-links.js"></script>
{% endif %}
{% if GOAT_COUNTER %}
<!-- GoatCounter -->
<script rel="preload" data-goatcounter="https://duarteocarmo.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{% endif %}
{% if GOOGLE_ANALYTICS %}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ GOOGLE_ANALYTICS }}');
</script>
{% endif %}
