<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}{% endblock %}</title>

        {% include "header.html" %}
    </head>

    <body>
        <header class="container nu">
            <h1 style="line-height:1.6;font-size:1rem;margin:0 0 0.25em 0;"><a style="text-decoration: none;" href="{{SITEURL}}/">{{SITENAME }}</a></h1>
            <ul style="list-style:none;padding:0;margin:0;">
                <li><a href="{{ SITEURL }}/about">About{% if output_file == 'about.html' %} ↲{% endif %}</a></li>
                <li><a href="{{ SITEURL }}/">Blog{% if output_file == 'index.html' or article %} ↲{% endif %}</a></li>
                <li><a href="{{ SITEURL }}/consulting">Consulting{% if output_file == 'consulting.html' %} ↲{% endif %}</a></li>
                <li><a href="{{ SITEURL }}/cv.pdf" data-goatcounter-click="resume-clicks" data-goatcounter-title="CV from Home" id="myElement">Resume</a></li>
            </ul>
        </header>
        <div class="separator">
        <div class="container vertical-spacing no-top main-content">
            {% block content %}{% endblock %}
        </div>
        </div>
        <footer class="container nu no-top">
            {% include "footer.html" %}
        </footer>
        {% include "analytics.html" %}
    </body>
</html>
