<p>⇹</p>
<ul style="list-style:none;padding:0;margin:0;">
  <li><a rel="noopener" target="_blank" href="https://twitter.com/duarteocarmo" aria-label="twitter-link">Twitter</a></li>
  <li><a rel="noopener" target="_blank" href="https://github.com/duarteocarmo" aria-label="github-link">GitHub</a></li>
  <li><a rel="noopener" target="_blank" href="mailto:me@duarteocarmo.com" aria-label="email-link">Email</a></li>
  <li><a rel="noopener" target="_blank" href="https://www.linkedin.com/in/duarteocarmo" aria-label="linkedin-link">LinkedIn</a></li>
  <li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">RSS</a></li>
</ul>
