{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="content">
    <p>Hey there, I'm <a href="{{ SITEURL  }}/about">Duarte</a> <i><code>/du-art/</code></i>, a consultant from Lisbon, living in Copenhagen.</p>
    <div class="article-list nu">
        {% for article in articles %}
        <div><a href="{{ article.url }}">{{ article.title }}</a></div>
        <time>{{  article.date | strftime('%d-%m-%Y') }}</time>
        {% else %}
        No posts yet!
        {% endfor %}
    </div>
        {% include "newsletter.html" %}
</div>
{% endblock %}
