<br>
{% if article %}
<p style="margin-bottom:0.5em;">Enjoyed the article? Get updates in your inbox. I don't spam.</p>
{% endif %}
<form
         class="newsletter-form"
         action="https://buttondown.email/api/emails/embed-subscribe/duarteocarmo"
         method="post"
         target="popupwindow"
         onsubmit="window.open('https://buttondown.email/duarteocarmo', 'popupwindow')"
         class="embeddable-buttondown-form"
         >
         <input class="form-input" type="email" name="email" id="bd-email" placeholder="Email" required="required"/>
         <input type="hidden" value="1" name="embed" />
         {% if article %}
         <input class="button form-button" type="submit" value="Subscribe" />
         {% else %}
         <input class="button form-button" type="submit" value="Subscribe to my newsletter" />
         {% endif %}
</form>
