<br>
<hr>
<p style="margin-bottom:0.5em;">Get an email when I publish new posts. No spam. Ever.</p>
<form
         action="https://buttondown.email/api/emails/embed-subscribe/duarteocarmo"
         method="post"
         target="popupwindow"
         onsubmit="window.open('https://buttondown.email/duarteocarmo', 'popupwindow')"
         class="embeddable-buttondown-form newsletter-form"
         >
         <input class="form-input" type="email" name="email" id="bd-email" placeholder="Email" required="required" aria-label="nwesletter-email"/>
         <input type="hidden" value="1" name="embed" />
         <br>
         <input class="button form-button" style="margin-left:0" type="submit" value="Let's go 🚀" />
</form>
