{% extends "base.html" %}
{% block title %}Talks - {{ SITENAME }}{% endblock %}
{% block content %}
<h1 class="sr-only">Talks</h1>

<div class="posts talks">
  {% for talk in TALKS %}
  <div class="post-link">
    <div class="post-content">
      <p class="post-title">{{ talk.text }}</p>
      <p class="post-date">{% for link in talk.links %}<a href="{{ link.url }}">{{ link.text }}</a>{{ " · " if not loop.last else "" }}{% endfor %}</p>
    </div>
  </div>
  {% else %}
  <p>No talks yet!</p>
  {% endfor %}
</div>
{% endblock %}
