/* GitHub Light Default */
pre { line-height: 125%; }
td.linenos .normal { color: #8c959f; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #8c959f; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #4ac26b40 }
.codehilite { background: #fff; color: #1f2328 }
.codehilite .c { color: #6e7781 } /* Comment */
.codehilite .err { color: #82071e } /* Error */
.codehilite .esc { color: #0a3069 } /* Escape */
.codehilite .k { color: #cf222e } /* Keyword */
.codehilite .l { color: #0a3069 } /* Literal */
.codehilite .o { color: #cf222e } /* Operator */
.codehilite .ch { color: #6e7781 } /* Comment.Hashbang */
.codehilite .cm { color: #6e7781 } /* Comment.Multiline */
.codehilite .cp { color: #cf222e } /* Comment.Preproc */
.codehilite .cpf { color: #0a3069 } /* Comment.PreprocFile */
.codehilite .c1 { color: #6e7781 } /* Comment.Single */
.codehilite .cs { color: #6e7781 } /* Comment.Special */
.codehilite .gd { color: #82071e } /* Generic.Deleted */
.codehilite .ge { color: #1f2328; font-style: italic } /* Generic.Emph */
.codehilite .ges { color: #1f2328; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #82071e } /* Generic.Error */
.codehilite .gh { color: #0550ae; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #116329 } /* Generic.Inserted */
.codehilite .go { color: #0a3069 } /* Generic.Output */
.codehilite .gp { color: #cf222e } /* Generic.Prompt */
.codehilite .gs { color: #1f2328; font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #0550ae } /* Generic.Subheading */
.codehilite .gt { color: #82071e } /* Generic.Traceback */
.codehilite .kc { color: #0550ae } /* Keyword.Constant */
.codehilite .kd { color: #cf222e } /* Keyword.Declaration */
.codehilite .kn { color: #cf222e } /* Keyword.Namespace */
.codehilite .kp { color: #cf222e } /* Keyword.Pseudo */
.codehilite .kr { color: #cf222e } /* Keyword.Reserved */
.codehilite .kt { color: #953800 } /* Keyword.Type */
.codehilite .ld { color: #0a3069 } /* Literal.Date */
.codehilite .m { color: #0550ae } /* Literal.Number */
.codehilite .s { color: #0a3069 } /* Literal.String */
.codehilite .na { color: #0550ae } /* Name.Attribute */
.codehilite .nb { color: #0550ae } /* Name.Builtin */
.codehilite .nc { color: #953800 } /* Name.Class */
.codehilite .no { color: #0550ae } /* Name.Constant */
.codehilite .nd { color: #0550ae } /* Name.Decorator */
.codehilite .ni { color: #0550ae } /* Name.Entity */
.codehilite .ne { color: #0550ae } /* Name.Exception */
.codehilite .nf { color: #8250df } /* Name.Function */
.codehilite .nl { color: #0a3069 } /* Name.Label */
.codehilite .py { color: #0550ae } /* Name.Property */
.codehilite .nt { color: #116329 } /* Name.Tag */
.codehilite .ow { color: #0550ae } /* Operator.Word */
.codehilite .w { color: #1f2328 } /* Text.Whitespace */
.codehilite .mb { color: #0550ae } /* Literal.Number.Bin */
.codehilite .mf { color: #0550ae } /* Literal.Number.Float */
.codehilite .mh { color: #0550ae } /* Literal.Number.Hex */
.codehilite .mi { color: #0550ae } /* Literal.Number.Integer */
.codehilite .mo { color: #0550ae } /* Literal.Number.Oct */
.codehilite .sa { color: #cf222e } /* Literal.String.Affix */
.codehilite .sb { color: #0550ae } /* Literal.String.Backtick */
.codehilite .sc { color: #0a3069 } /* Literal.String.Char */
.codehilite .dl { color: #0a3069 } /* Literal.String.Delimiter */
.codehilite .sd { color: #0a3069 } /* Literal.String.Doc */
.codehilite .s2 { color: #0a3069 } /* Literal.String.Double */
.codehilite .se { color: #0a3069 } /* Literal.String.Escape */
.codehilite .sh { color: #0a3069 } /* Literal.String.Heredoc */
.codehilite .si { color: #cf222e } /* Literal.String.Interpol */
.codehilite .sx { color: #0a3069 } /* Literal.String.Other */
.codehilite .sr { color: #0a3069 } /* Literal.String.Regex */
.codehilite .s1 { color: #0a3069 } /* Literal.String.Single */
.codehilite .ss { color: #0550ae } /* Literal.String.Symbol */
.codehilite .bp { color: #0550ae } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0550ae } /* Name.Function.Magic */
.codehilite .vc { color: #953800 } /* Name.Variable.Class */
.codehilite .il { color: #0550ae } /* Literal.Number.Integer.Long */

/* GitHub Dark Default */
@media (prefers-color-scheme: dark) {
	pre { line-height: 125%; }
	td.linenos .normal { color: #6e7681; background-color: transparent; padding-left: 5px; padding-right: 5px; }
	span.linenos { color: #6e7681; background-color: transparent; padding-left: 5px; padding-right: 5px; }
	td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
	span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
	.codehilite .hll { background-color: #3fb95040 }
	.codehilite { background: #0d1117; color: #e6edf3 }
	.codehilite .c { color: #8b949e } /* Comment */
	.codehilite .err { color: #ffa198 } /* Error */
	.codehilite .esc { color: #a5d6ff } /* Escape */
	.codehilite .k { color: #ff7b72 } /* Keyword */
	.codehilite .l { color: #a5d6ff } /* Literal */
	.codehilite .o { color: #ff7b72 } /* Operator */
	.codehilite .ch { color: #8b949e } /* Comment.Hashbang */
	.codehilite .cm { color: #8b949e } /* Comment.Multiline */
	.codehilite .cp { color: #ff7b72 } /* Comment.Preproc */
	.codehilite .cpf { color: #a5d6ff } /* Comment.PreprocFile */
	.codehilite .c1 { color: #8b949e } /* Comment.Single */
	.codehilite .cs { color: #8b949e } /* Comment.Special */
	.codehilite .gd { color: #ffa198 } /* Generic.Deleted */
	.codehilite .ge { color: #e6edf3; font-style: italic } /* Generic.Emph */
	.codehilite .ges { color: #e6edf3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
	.codehilite .gr { color: #ffa198 } /* Generic.Error */
	.codehilite .gh { color: #79c0ff; font-weight: bold } /* Generic.Heading */
	.codehilite .gi { color: #7ee787 } /* Generic.Inserted */
	.codehilite .go { color: #a5d6ff } /* Generic.Output */
	.codehilite .gp { color: #ff7b72 } /* Generic.Prompt */
	.codehilite .gs { color: #e6edf3; font-weight: bold } /* Generic.Strong */
	.codehilite .gu { color: #79c0ff } /* Generic.Subheading */
	.codehilite .gt { color: #ffa198 } /* Generic.Traceback */
	.codehilite .kc { color: #79c0ff } /* Keyword.Constant */
	.codehilite .kd { color: #ff7b72 } /* Keyword.Declaration */
	.codehilite .kn { color: #ff7b72 } /* Keyword.Namespace */
	.codehilite .kp { color: #ff7b72 } /* Keyword.Pseudo */
	.codehilite .kr { color: #ff7b72 } /* Keyword.Reserved */
	.codehilite .kt { color: #ffa657 } /* Keyword.Type */
	.codehilite .ld { color: #a5d6ff } /* Literal.Date */
	.codehilite .m { color: #79c0ff } /* Literal.Number */
	.codehilite .s { color: #a5d6ff } /* Literal.String */
	.codehilite .na { color: #79c0ff } /* Name.Attribute */
	.codehilite .nb { color: #79c0ff } /* Name.Builtin */
	.codehilite .nc { color: #ffa657 } /* Name.Class */
	.codehilite .no { color: #79c0ff } /* Name.Constant */
	.codehilite .nd { color: #79c0ff } /* Name.Decorator */
	.codehilite .ni { color: #79c0ff } /* Name.Entity */
	.codehilite .ne { color: #79c0ff } /* Name.Exception */
	.codehilite .nf { color: #d2a8ff } /* Name.Function */
	.codehilite .nl { color: #a5d6ff } /* Name.Label */
	.codehilite .py { color: #79c0ff } /* Name.Property */
	.codehilite .nt { color: #7ee787 } /* Name.Tag */
	.codehilite .ow { color: #79c0ff } /* Operator.Word */
	.codehilite .w { color: #e6edf3 } /* Text.Whitespace */
	.codehilite .mb { color: #79c0ff } /* Literal.Number.Bin */
	.codehilite .mf { color: #79c0ff } /* Literal.Number.Float */
	.codehilite .mh { color: #79c0ff } /* Literal.Number.Hex */
	.codehilite .mi { color: #79c0ff } /* Literal.Number.Integer */
	.codehilite .mo { color: #79c0ff } /* Literal.Number.Oct */
	.codehilite .sa { color: #ff7b72 } /* Literal.String.Affix */
	.codehilite .sb { color: #79c0ff } /* Literal.String.Backtick */
	.codehilite .sc { color: #a5d6ff } /* Literal.String.Char */
	.codehilite .dl { color: #a5d6ff } /* Literal.String.Delimiter */
	.codehilite .sd { color: #a5d6ff } /* Literal.String.Doc */
	.codehilite .s2 { color: #a5d6ff } /* Literal.String.Double */
	.codehilite .se { color: #a5d6ff } /* Literal.String.Escape */
	.codehilite .sh { color: #a5d6ff } /* Literal.String.Heredoc */
	.codehilite .si { color: #ff7b72 } /* Literal.String.Interpol */
	.codehilite .sx { color: #a5d6ff } /* Literal.String.Other */
	.codehilite .sr { color: #a5d6ff } /* Literal.String.Regex */
	.codehilite .s1 { color: #a5d6ff } /* Literal.String.Single */
	.codehilite .ss { color: #79c0ff } /* Literal.String.Symbol */
	.codehilite .bp { color: #79c0ff } /* Name.Builtin.Pseudo */
	.codehilite .fm { color: #79c0ff } /* Name.Function.Magic */
	.codehilite .vc { color: #ffa657 } /* Name.Variable.Class */
	.codehilite .il { color: #79c0ff } /* Literal.Number.Integer.Long */
}
