/* Custom CSS*/
:root {
    --color-light-primary: #111;
    --color-light-secondary: hsl(222, 30%, 16%);
    --color-light-background: #fff;
    --color-light-code: hsl(39, 100%, 95%);
    --color-light-code-background:#fff;
    --color-light-filtering: 0%;

    --color-dark-primary: #f5ab35;
    --color-dark-secondary: #e4e4e4;
    --color-dark-background: #444;
    --color-dark-code: #e4e4e4;
    --color-dark-code-background: #333;
    --color-dark-filtering: 100%;

    --primary: var(--color-light-primary);
    --secondary: var(--color-light-secondary);
    --background: var(--color-light-background);
    --image-filtering: var(--color-light-filtering);
    --code-color: var(--color-light-code);
    --code-background: var(--color-light-code-background);
    --base-font: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
    --code-font: an Francisco Mono, Monaco, "Consolas", "Lucida Console",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}



/* Custom css */

body {
    color: var(--secondary);
    background-color: var(--background);
    font-family: var(--base-font);
    margin: 1em auto;
    padding: 0 1em;
    max-width: 70ch;
    --font-size: 1rem;
    font-size: var(--font-size);
    line-height: 1.6;
}

a {
    color:#000;
    text-decoration-skip-ink:auto;
    text-decoration:underline
}
a:visited {
    color:#333
}

header {
    position: absolute;
    top: 40px;
    right: 50%;
    margin-right: 340px !important;
    letter-spacing: -.009em;
    max-width: 640px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
}

.content {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.article-list {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr min-content;
}

.article-list time {
    padding-right: .25em;
    color: #333;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em;
    white-space: pre;
}

.article-list > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-list a {
    font-weight: 500;
    letter-spacing: -.015em;
}

.nu a {
    text-decoration: none;
}

.nu a:hover  {
    text-decoration: underline;
}
